html, body, #app {
    height: 100%;
    width: 100%;
    min-width: 1366px;
}

* {
    padding: 0;
    margin: 0;
}

.el-breadcrumb {
    font-size: 12px;
}

.el-card {
    margin-top: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 20px;
}

.el-pagination {
    margin-top: 20px;
}

.el-cascader-panel {
    height: 480px !important;
}

.el-step__title {
    font-size: 13px;
}

.el-steps {
    margin: 10px 0;
}

.ql-editor {
    min-height: 300px;
}

.el-checkbox{
    margin: 0 10px 0 0 !important;
}
